body {
    background: lightgray;
}

section {
    max-width: 40%;
    display: inline-block;
}

section:first-child {
    margin-right: 20%;
    color: #ffffff;
}
.main-image {
    max-width: 300px;
    position: absolute;
    top: 10px;
    right: 50px;
    transition: 0.5s;
}
.main-image:hover {
    max-width: 600px;
    top: 0px;
    right: 0px;

}

main {
    background: linear-gradient(to right, #8A2387, #E94057,#F27121);
    box-shadow: 0px 0px 10px black;
    padding: 2%;
    margin: 5% 10%;
    z-index: 10;
    position: relative;
    height: 70vh;
}

body::before {
    content: "";
    position: absolute;
    background: linear-gradient(to right, #B92B27, #1565C0);
    box-shadow: 0px 0px 10px black;
    transform: skewY(15deg);
    inset: 0;
}